<div class="row">
	<div class="col col-md-12 col-sm-12 col-xs-12 ">
		<h2 style="text-align: center;">Todo List</h2>
	</div>
</div>
<div class="row">
	<div class="col col-md-12 col-sm-12 col-xs-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="x in names">
				<div class="row">
					<div class="col col-md-8 col-sm-8 col-xs-8">{{x}}</div>
					<div class="col col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
					<div class="col col-md-2 col-sm-2 col-xs-2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
				</div>
			</li>
		</ul> 
	</div>
</div>