<div class="row justify-content-center align-self-center">
	<div class="col col-md-3">
		<h2>Register Form</h2>
		<form ng-submit="registerCtrl.registerForm()">
			<div>
				<md-input-container>
					<label>Enter Name</label>
					<input ng-model="registerCtrl.user1.name" type="text" required>
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label>Enter date Of Birth<</label>
					<input ng-model="registerCtrl.user1.date" type="date" required>
				</md-input-container>
			</div>
			<div >
				<md-input-container>
					<label>Email</label>
					<input ng-model="registerCtrl.user.email" type="email" required>
				</md-input-container>
			</div>
			<div>
				<md-input-container>
					<label>Password</label>
					<input ng-model="registerCtrl.user.password" type="password" required>
				</md-input-container>
			</div>
			<div>
				<md-button type="submit" class="md-raised md-primary" ng-disabled="regiser.$invalid">Submit</md-button>
			</div>
		</form>
	</div>
</div>